<div class="container" *ngIf="hasCurrentPage()">
  <common-game-header></common-game-header>

  <p class="progress-numbers">{{statistics.totalAnswers}}/{{this.statistics.totalQuestions}}</p>

  <h3 class="game-title">
    <p>{{getTitle()}}</p>
  </h3>

  <common-game-flag [flagUrl]="getFlag()"></common-game-flag>

  <div class="answers-container">
    <common-game-answers [page]="getAnswersPage()"></common-game-answers>
  </div>

  <div class="paginator-container">
    <common-game-paginator [statistics]="this.statistics"></common-game-paginator>
  </div>
</div>
