<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <ion-item>
    <ion-label>Difficulty</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Easy</ion-select-option>
      <ion-select-option value="blonde">Medium</ion-select-option>
      <ion-select-option value="black">Hard</ion-select-option>
      <ion-select-option value="red">Insane</ion-select-option>
    </ion-select>
  </ion-item>
</div>
