<ion-header>
  <ion-toolbar>
    <ion-title>{{translation.title | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <h3 class="settings-page__title">{{ translation.categories.general | titlecase }}</h3>
  <ion-list>
    <settings__difficulty></settings__difficulty>
    <settings__game-length></settings__game-length>
  </ion-list>

  <h3 class="settings-page__title">{{ translation.categories.theme | titlecase }}</h3>
  <ion-list>
    <settings__background></settings__background>
    <settings__accent></settings__accent>
  </ion-list>
</div>
