@mixin nord-theme-mixin {
  // --ion-background-color: #2e3440;
  --ion-background-color: #2e3440;

  --ion-card-background: #2c323d;

  --ion-item-background: #2c323d;

  --ion-toolbar-background: #2e3440;

  --ion-tab-bar-background: #2e3440;
}

body.nord-background-theme {
  @include nord-theme-mixin();

  --ion-text-color: #e2e2e2;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;
}
