<ion-item>
  <ion-label>Background</ion-label>
  <ion-select interface="popover" value="light" [(ngModel)]="background" (ionChange)="change()">
    <ion-select-option value="light">Light</ion-select-option>
    <ion-select-option value="nord">Nord</ion-select-option>
    <ion-select-option value="github">Github</ion-select-option>
    <ion-select-option value="retro">Retro</ion-select-option>
    <ion-select-option value="dark">Dark</ion-select-option>
    <ion-select-option value="black">Black</ion-select-option>
  </ion-select>
</ion-item>
