:host {
  display: block;
}

.guess-country {
  &__card {
    border-radius: 2rem;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__image {
    display: block;
    max-height: 16rem;
    max-width: 20rem;

    margin: min(1.5vw, 1rem);
    margin-right: 0;

    border-radius: 2.5rem;
    border: 2px solid rgb(185, 183, 175);

    box-shadow: 0px 0px 20px 2px rgba(black, 0.1);
  }
  &__title {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
  }
}
