<ion-popover #gameOptions>
  <!-- <ion-button>
    <ion-icon name="options-outline"></ion-icon>
  </ion-button> -->
  <ng-template>
    <ion-list>
      <ion-list-header>Game options</ion-list-header>
      <ion-item>
        <ion-label>Difficulty</ion-label>
        <ion-select value="easy" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
          <ion-select-option value="insane">Insane</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>
