<div class="container">
  <guess-country__header></guess-country__header>

  <p class="progress-numbers">{{getAnsweredNumber()}}/{{getTotalPages()}}</p>

  <ng-template [ngIf]="pages.length > 0">
    <div class="flag-image-container">
      <img class="flag-image" [src]="getCurrentPageFlag()" alt="flag of country" />
    </div>
  </ng-template>

  <div class="answers">
    <guess-country__answers [page]="getCurrentPage()"></guess-country__answers>
  </div>
  <div class="paginator">
    <guess-country__paginator></guess-country__paginator>
  </div>
</div>
