<div class="container" *ngIf="getTotalPages() > 0">
  <common-game-header></common-game-header>

  <p class="progress-numbers">{{getAnsweredNumber()}}/{{getTotalPages()}}</p>

  <ion-title class="game-title">
    <p>{{getTitle()}}</p>
  </ion-title>

  <common-game-flag [flagUrl]="getCurrentPageFlag()"></common-game-flag>

  <div class="answers">
    <common-game-answers [page]="getAnswersPage()"></common-game-answers>
  </div>
  <div class="paginator-container">
    <common-game-paginator [pages]="this.pages"></common-game-paginator>
  </div>
</div>
