<ion-header>
  <ion-toolbar>
    <ion-title>Games</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container">
  <a [routerLink]="paths.GuessCountry">
    <common-game-preview-with-flag [flagPath]="flags.guessCountry">
      <h3>
        Guess
        <br />
        country
      </h3>
    </common-game-preview-with-flag>
  </a>

  <a [routerLink]="paths.GuessCapital">
    <common-game-preview-with-flag [flagPath]="flags.guessCapital" [reverseStyle]="true">
      <h3>
        Guess
        <br />
        capital
      </h3>
    </common-game-preview-with-flag>
  </a>

  <a [routerLink]="paths.GuessPopulation">
    <common-game-preview-with-flag [flagPath]="flags.guessPopulation">
      <h3>
        Guess
        <br />
        population
      </h3>
    </common-game-preview-with-flag>
  </a>
</div>
