.progress-numbers {
  display: flex;
  height: 3rem;

  font-size: 2.3rem;

  justify-content: center;

  margin: 0 auto;
}

.answers-container {
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: 100%;
  margin-bottom: 0.5rem;
}

.game-title {
  display: block;
  line-height: min(2rem, 10vw);
  margin: 1rem 0;

  font-size: min(2rem, 10vw);
  text-align: center;
}
